{% extends "layout.html" %}
{% block content %}
<div class="card">
    <h2>Register</h2>
    <form method="post">
        <label>Username</label>
        <input name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Confirm Password</label>
        <input type="password" name="confirm" required>

        <button class="btn" type="submit">Create account</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>
{% endblock %}

